@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__title/profile__title.css);
@import url(../profile/__text/profile__text.css);
@import url(../profile/__editbutton/profile__editbutton.css);
@import url(../profile/__editbutton-img/profile__editbutton-img.css);
@import url(../profile/__addbutton/profile__addbutton.css);
@import url(../profile/__addbutton-img/profile__addbutton-img.css);


.profile {
  padding-top: 36.25px;
  padding-bottom: 47.25px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 120px max-content auto 150px;
}

@media (max-width: 700px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 38.25px;
    padding-bottom: 36px;
  }
}
