.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 281px);
  grid-gap: 18px;
}

@media (max-width: 1279px) {
  .elements {
    justify-content: center;
  }
}

@media (max-width: 690px) {
  .elements {
    padding-bottom: 48px;
    grid-gap: 20px;
  }
}
